.p{
    font-family: roboto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.body{
    margin: 0px;
    padding-top: 80px;
    padding-left: 80px;
    background-color: rgb(251, 245, 245);
}
.thumbnail{
    width: 100%;
}